body {
  background:#111;
  color:#fff;
  font-family:Arial;
  text-align:center
}
.level-grid {
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(90px,1fr));
  gap:12px;padding:16px
}
.game-area {
  min-width:1000px;
  display:flex;
  gap:10px;
  padding:16px;
  justify-content:center;
  flex-wrap:wrap;
  flex-direction:row
}
.hud {
  justify-content:center;
  gap:10px;
  padding:16px
}
.img-wrap {
  position:relative
}
canvas {
  position:absolute;left:0;top:0
}


